.warning {
    border: 10px ridge #f00;
    background-color: #ff0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.warning img {
    width: 60%;
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}


.shadowbox {
    width: 20em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  }

  iframe {
    border: 1px solid black;
    width: 100%;
}

.output {
    background: #eee;
}

cite {

}
HTML CSS JSResult Skip Results Iframe
EDIT ON
body {
  background: #fff;
}

.macbook {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -48px;
  perspective: 500px;
}
.shadow {
  position: absolute;
  width: 60px;
  height: 0px;
  left: 40px;
  top: 160px;
  transform: rotateX(80deg) rotateY(0deg) rotateZ(0deg);
  box-shadow: 0 0 60px 40px rgba(0,0,0,0.3);
  animation: shadow infinite 7s ease;
}
.inner {
  z-index: 20;
  position: absolute;
  width: 150px;
  height: 96px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  transform:rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
  animation: rotate infinite 7s ease;
}
.screen {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 7px;
  background: #ddd;
  transform-style: preserve-3d;
  transform-origin: 50% 93px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  animation: lid-screen infinite 7s ease;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.34) 0%,rgba(0,0,0,0) 100%);
  background-position: left bottom;
  background-size: 300px 300px;
  box-shadow: inset 0 3px 7px rgba(255,255,255,0.5);
}
.screen .logo {
  position: absolute;
  width: 20px;
  height: 24px;
  left: 50%;
  top: 50%;
  margin: -12px 0 0 -10px;
  transform: rotateY(180deg) translateZ(0.1px);
}
.screen .face-one {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 7px;
  background: #d3d3d3;
  transform: translateZ(2px);
  background-image: linear-gradient(45deg,rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
}
.screen .face-one .camera {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #000;
  position: absolute;
  left: 50%;
  top: 4px;
  margin-left: -1.5px;
}
.screen .face-one .display {
  width: 130px;
  height: 74px;
  margin: 10px;
  background: url("https://upload.wikimedia.org/wikipedia/en/9/98/MacOS_Monterey_Desktop.png") no-repeat center center #000;
  background-size: 100% 100%;
  border-radius: 1px;
  position: relative;
  box-shadow: inset 0 0 2px rgba(0,0,0,1);
}
.screen .face-one .display .shade {
  position: absolute;
  left: 0;
  top: 0;
  width: 130px;
  height: 74px;
  background: linear-gradient(-135deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 47%,rgba(255,255,255,0) 48%);
  animation: screen-shade infinite 7s ease;
  background-size: 300px 200px;
  background-position: 0px 0px;
}
.screen .face-one span {
  position: absolute;
  top: 85px;
  left: 57px;
  font-size: 6px;
  color: #666
}

.body {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 7px;
  background: #cbcbcb;
  transform-style: preserve-3d;
  transform-origin: 50% bottom;
  transform: rotateX(-90deg);
  animation: lid-body infinite 7s ease;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
}
.body .face-one {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 7px;
  transform-style: preserve-3d;
  background: #dfdfdf;
  animation: lid-keyboard-area infinite 7s ease;
  transform: translateZ(-2px);
  background-image: linear-gradient(30deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
}
.body .touchpad {
  width: 40px;
  height: 31px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  margin: -44px 0 0 -18px;
  background: #cdcdcd;
  background-image: linear-gradient(30deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
  box-shadow: inset 0 0 3px #888;
}
.body .keyboard {
width: 130px;
height: 45px;
position: absolute;
left: 7px;
top: 41px;
border-radius: 4px;
transform-style: preserve-3d;
background: #cdcdcd;
background-image: linear-gradient(30deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
box-shadow: inset 0 0 3px #777;
padding: 0 0 0 2px;
}
.keyboard .key {
  width: 6px;
  height: 6px;
  background: #444;
  float: left;
  margin: 1px;
  transform: translateZ(-2px);
  border-radius: 2px;
  box-shadow: 0 -2px 0 #222;
  animation: keys infinite 7s ease;
}
.key.space {
  width: 45px;
}
.key.f {
  height: 3px;
}
.body .pad {
  width: 5px;
  height: 5px;
  background: #333;
  border-radius: 100%;
  position: absolute;
}
.pad.one {
  left: 20px;
  top: 20px;
}
.pad.two {
  right: 20px;
  top: 20px;
}
.pad.three {
  right: 20px;
  bottom: 20px;
}
.pad.four {
  left: 20px;
  bottom: 20px;
}

@keyframes rotate {
  0% {
    transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
  }
  5% {
    transform: rotateX(-20deg) rotateY(-20deg) rotateZ(0deg);
  }
  20% {
    transform: rotateX(30deg) rotateY(200deg) rotateZ(0deg);
  }
  25% {
    transform: rotateX(-60deg) rotateY(150deg) rotateZ(0deg);
  }
  60% {
    transform: rotateX(-20deg) rotateY(130deg) rotateZ(0deg);
  }
  65% {
    transform: rotateX(-20deg) rotateY(120deg) rotateZ(0deg);
  }
  80% {
    transform: rotateX(-20deg) rotateY(375deg) rotateZ(0deg);
  }
  85% {
    transform: rotateX(-20deg) rotateY(357deg) rotateZ(0deg);
  }
  87% {
    transform: rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
  }
}

@keyframes lid-screen {
  0% {
    transform: rotateX(0deg);
    background-position: left bottom;
  }
  5% {
    transform: rotateX(50deg);
    background-position: left bottom;
  }
  20% {
    transform: rotateX(-90deg);
    background-position: -150px top;
  }
  25% {
    transform: rotateX(15deg);
    background-position: left bottom;
  }
  30% {
    transform: rotateX(-5deg);
    background-position: right top;
  }
  38% {
    transform: rotateX(5deg);
    background-position: right top;
  }
  48% {
    transform: rotateX(0deg);
    background-position: right top;
  }
  90% {
    transform: rotateX(0deg);
    background-position: right top;
  }
  100% {
    transform: rotateX(0deg);
    background-position: right center;
  }
}

@keyframes lid-body {
  0% {
    transform: rotateX(-90deg);
    
  }
  50% {
    transform: rotateX(-90deg);
    
  }
  100% {
    transform: rotateX(-90deg);
    
  }
}

@keyframes lid-keyboard-area {
  0% {
     background-color: #dfdfdf;
  }
  50% {
    background-color: #bbb;
  }
  100% {
    background-color: #dfdfdf;
  }
}
@keyframes screen-shade {
  0% {
    background-position: -20px 0px;
  }
  5% {
    background-position: -40px 0px;
  }
  20% {
    background-position: 200px 0;
  }
  50% {
    background-position: -200px 0;
  }
  80% {
    background-position: 0px 0px;
  }
  85% {
    background-position: -30px 0;
  }
  90% {
    background-position: -20px 0;
  }
  100% {
    background-position: -20px 0px;
  }
}
@keyframes keys {
  0% {
    box-shadow: 0 -2px 0 #222;
  }
  5% {
    box-shadow: 1 -1px 0 #222;
  }
  20% {
    box-shadow: -1px 1px 0 #222;
  }
  25% {
    box-shadow: -1px 1px 0 #222;
  }
  60% {
    box-shadow: -1px 1px 0 #222;
  }
  80% {
    box-shadow: 0 -2px 0 #222;
  }
  85% {
    box-shadow: 0 -2px 0 #222;
  }
  87% {
    box-shadow: 0 -2px 0 #222;
  }
  100% {
    box-shadow: 0 -2px 0 #222;
  }
}
@keyframes shadow {
  0% {
    transform: rotateX(80deg) rotateY(0deg) rotateZ(0deg);
    box-shadow: 0 0 60px 40px rgba(0,0,0,0.3);
  }
  5% {
    transform: rotateX(80deg) rotateY(10deg) rotateZ(0deg);
    box-shadow: 0 0 60px 40px rgba(0,0,0,0.3);
  }
  20% {
    transform: rotateX(30deg) rotateY(-20deg) rotateZ(-20deg);
    box-shadow: 0 0 50px 30px rgba(0,0,0,0.3);
  }
  25% {
    transform: rotateX(80deg) rotateY(-20deg) rotateZ(50deg);
    box-shadow: 0 0 35px 15px rgba(0,0,0,0.1);
  }
  60% {
    transform: rotateX(80deg) rotateY(0deg) rotateZ(-50deg) translateX(30px);
    box-shadow: 0 0 60px 40px rgba(0,0,0,0.3);
  }
  100% {
    box-shadow: 0 0 60px 40px rgba(0,0,0,0.3);
  }
}
.links {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.links a {
  color : #555;
  margin-left: 10px;
  text-decoration: none;
}



body {
    background: #34495e;
    width: 100%;
    height: 100%;
  }
  
  .Scene {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 600;
    -moz-perspective: 600;
    perspective: 600;
    width: 800px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -300px 0 0 -400px;
    border-radius: 6px;
  }
  
  .Scene * {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .Camera {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: CameraRotate 10s infinite linear;
    -moz-animation: CameraRotate 10s infinite linear;
    animation: CameraRotate 10s infinite linear;
  }
  
  .GroundPlane {
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    background: #27ae60;
    -webkit-transform: rotateX(-90deg) translateZ(-115px);
    -moz-transform: rotateX(-90deg) translateZ(-115px);
    transform: rotateX(-90deg) translateZ(-115px);
  }
  
  .Mannequin {
    margin: 0;
    width: 78px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform-origin: 39px 493px;
    -moz-transform-origin: 39px 493px;
    transform-origin: 39px 493px;
  }
  
  .Mannequin,
  .Mannequin *,
  .Mannequin *:after,
  .Mannequin *:before {
    position: absolute;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  
  .Body {
    top: 88px;
    left: 0px;
    -webkit-transform-origin: 39px 180px;
    -moz-transform-origin: 39px 180px;
    transform-origin: 39px 180px;
  }
  
  .Face {
    margin: 0;
    padding: 0;
  }
  
  .UpperBody {
    top: 0;
    left: 0px;
    -webkit-transform-origin: 39px 96px;
    -moz-transform-origin: 39px 96px;
    transform-origin: 39px 96px;
  }
  
  .UpperBody .Face {
    width: 78px;
    height: 86px;
    background: #f2f2f2;
  }
  
  .UpperBody-frontFace {
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px);
    transform: translateZ(20px);
  }
  
  .UpperBody-frontFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #e6e6e6;
    width: 40px;
    height: 86px;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .UpperBody-frontFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: white;
    width: 78px;
    height: 40px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .UpperBody-backFace {
    -webkit-transform: translateZ(-20px);
    -moz-transform: translateZ(-20px);
    transform: translateZ(-20px);
  }
  
  .UpperBody-backFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #e6e6e6;
    width: 40px;
    height: 86px;
    -webkit-transform: rotateY(-90deg) translateZ(-78px);
    -moz-transform: rotateY(-90deg) translateZ(-78px);
    transform: rotateY(-90deg) translateZ(-78px);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .UpperBody-backFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #bfbfbf;
    width: 78px;
    height: 40px;
    -webkit-transform: rotateX(90deg) translateZ(-86px);
    -moz-transform: rotateX(90deg) translateZ(-86px);
    transform: rotateX(90deg) translateZ(-86px);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .Head {
    top: -62px;
    left: 14px;
    -webkit-transform-origin: 25px 62px;
    -moz-transform-origin: 25px 62px;
    transform-origin: 25px 62px;
  }
  
  .Head .Face {
    width: 50px;
    height: 52px;
    background: #f2f2f2;
  }
  
  .Head-frontFace {
    -webkit-transform: translateZ(15px);
    -moz-transform: translateZ(15px);
    transform: translateZ(15px);
  }
  
  .Head-frontFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #e6e6e6;
    width: 30px;
    height: 52px;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .Head-frontFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: white;
    width: 50px;
    height: 30px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .Head-backFace {
    -webkit-transform: translateZ(-15px);
    -moz-transform: translateZ(-15px);
    transform: translateZ(-15px);
  }
  
  .Head-backFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #ebebeb;
    width: 30px;
    height: 52px;
    -webkit-transform: rotateY(-90deg) translateZ(-50px);
    -moz-transform: rotateY(-90deg) translateZ(-50px);
    transform: rotateY(-90deg) translateZ(-50px);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .Head-backFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #cccccc;
    width: 50px;
    height: 30px;
    -webkit-transform: rotateX(90deg) translateZ(-52px);
    -moz-transform: rotateX(90deg) translateZ(-52px);
    transform: rotateX(90deg) translateZ(-52px);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .LowerBody {
    top: 106px;
    left: 9px;
  }
  
  .LowerBody .Face {
    width: 60px;
    height: 62px;
    background: #f2f2f2;
  }
  
  .LowerBody-frontFace {
    -webkit-transform: translateZ(15px);
    -moz-transform: translateZ(15px);
    transform: translateZ(15px);
  }
  
  .LowerBody-frontFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #e6e6e6;
    width: 30px;
    height: 62px;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .LowerBody-frontFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #cccccc;
    width: 60px;
    height: 30px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .LowerBody-backFace {
    -webkit-transform: translateZ(-15px);
    -moz-transform: translateZ(-15px);
    transform: translateZ(-15px);
  }
  
  .LowerBody-backFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #ebebeb;
    width: 30px;
    height: 62px;
    -webkit-transform: rotateY(-90deg) translateZ(-60px);
    -moz-transform: rotateY(-90deg) translateZ(-60px);
    transform: rotateY(-90deg) translateZ(-60px);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .LowerBody-backFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #cccccc;
    width: 60px;
    height: 30px;
    -webkit-transform: rotateX(90deg) translateZ(-62px);
    -moz-transform: rotateX(90deg) translateZ(-62px);
    transform: rotateX(90deg) translateZ(-62px);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .Legs {
    top: 278px;
    left: 0px;
    width: 50px;
  }
  
  .Leg {
    -webkit-transform-origin: 14px -20px;
    -moz-transform-origin: 14px -20px;
    transform-origin: 14px -20px;
  }
  
  .Leg.left {
    left: 0px;
  }
  
  .Leg.right {
    right: 0px;
  }
  
  .Leg-upperLeg {
    top: 0px;
  }
  
  .Leg-upperLeg .Face {
    width: 28px;
    height: 94px;
    background: #f2f2f2;
  }
  
  .Leg-upperLeg-frontFace {
    -webkit-transform: translateZ(15px);
    -moz-transform: translateZ(15px);
    transform: translateZ(15px);
  }
  
  .Leg-upperLeg-frontFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #e6e6e6;
    width: 30px;
    height: 94px;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .Leg-upperLeg-frontFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #cccccc;
    width: 28px;
    height: 30px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .Leg-upperLeg-backFace {
    -webkit-transform: translateZ(-15px);
    -moz-transform: translateZ(-15px);
    transform: translateZ(-15px);
  }
  
  .Leg-upperLeg-backFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #ebebeb;
    width: 30px;
    height: 94px;
    -webkit-transform: rotateY(-90deg) translateZ(-28px);
    -moz-transform: rotateY(-90deg) translateZ(-28px);
    transform: rotateY(-90deg) translateZ(-28px);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .Leg-upperLeg-backFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #cccccc;
    width: 28px;
    height: 30px;
    -webkit-transform: rotateX(90deg) translateZ(-94px);
    -moz-transform: rotateX(90deg) translateZ(-94px);
    transform: rotateX(90deg) translateZ(-94px);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .Leg-lowerLeg {
    top: 103px;
    left: 3px;
  }
  
  .Leg-lowerLeg .Face {
    width: 23px;
    height: 104px;
    background: #f2f2f2;
  }
  
  .Leg-lowerLeg-frontFace {
    -webkit-transform: translateZ(15px);
    -moz-transform: translateZ(15px);
    transform: translateZ(15px);
  }
  
  .Leg-lowerLeg-frontFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #e6e6e6;
    width: 30px;
    height: 104px;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .Leg-lowerLeg-frontFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #cccccc;
    width: 23px;
    height: 30px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .Leg-lowerLeg-backFace {
    -webkit-transform: translateZ(-15px);
    -moz-transform: translateZ(-15px);
    transform: translateZ(-15px);
  }
  
  .Leg-lowerLeg-backFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #ebebeb;
    width: 30px;
    height: 104px;
    -webkit-transform: rotateY(-90deg) translateZ(-23px);
    -moz-transform: rotateY(-90deg) translateZ(-23px);
    transform: rotateY(-90deg) translateZ(-23px);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .Leg-lowerLeg-backFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #cccccc;
    width: 23px;
    height: 30px;
    -webkit-transform: rotateX(90deg) translateZ(-104px);
    -moz-transform: rotateX(90deg) translateZ(-104px);
    transform: rotateX(90deg) translateZ(-104px);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .Arm {
    -webkit-transform-origin: 13px 13px;
    -moz-transform-origin: 13px 13px;
    transform-origin: 13px 13px;
    top: 0;
  }
  
  .Arm.left {
    left: -30px;
  }
  
  .Arm.right {
    right: -84px;
  }
  
  .Arm-upperArm {
    top: 0px;
  }
  
  .Arm-upperArm .Face {
    width: 23px;
    height: 84px;
    background: #f2f2f2;
  }
  
  .Arm-upperArm-frontFace {
    -webkit-transform: translateZ(10px);
    -moz-transform: translateZ(10px);
    transform: translateZ(10px);
  }
  
  .Arm-upperArm-frontFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #e6e6e6;
    width: 20px;
    height: 84px;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .Arm-upperArm-frontFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: white;
    width: 23px;
    height: 20px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .Arm-upperArm-backFace {
    -webkit-transform: translateZ(-10px);
    -moz-transform: translateZ(-10px);
    transform: translateZ(-10px);
  }
  
  .Arm-upperArm-backFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #ebebeb;
    width: 20px;
    height: 84px;
    -webkit-transform: rotateY(-90deg) translateZ(-23px);
    -moz-transform: rotateY(-90deg) translateZ(-23px);
    transform: rotateY(-90deg) translateZ(-23px);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .Arm-upperArm-backFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #cccccc;
    width: 23px;
    height: 20px;
    -webkit-transform: rotateX(90deg) translateZ(-84px);
    -moz-transform: rotateX(90deg) translateZ(-84px);
    transform: rotateX(90deg) translateZ(-84px);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .Arm-lowerArm {
    top: 94px;
    left: 3px;
  }
  
  .Arm-lowerArm .Face {
    width: 17px;
    height: 90px;
    background: #f2f2f2;
  }
  
  .Arm-lowerArm-frontFace {
    -webkit-transform: translateZ(10px);
    -moz-transform: translateZ(10px);
    transform: translateZ(10px);
  }
  
  .Arm-lowerArm-frontFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #e6e6e6;
    width: 20px;
    height: 90px;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .Arm-lowerArm-frontFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #cccccc;
    width: 17px;
    height: 20px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  .Arm-lowerArm-backFace {
    -webkit-transform: translateZ(-10px);
    -moz-transform: translateZ(-10px);
    transform: translateZ(-10px);
  }
  
  .Arm-lowerArm-backFace:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #ebebeb;
    width: 20px;
    height: 90px;
    -webkit-transform: rotateY(-90deg) translateZ(-17px);
    -moz-transform: rotateY(-90deg) translateZ(-17px);
    transform: rotateY(-90deg) translateZ(-17px);
    -webkit-transform-origin: 0px 50%;
    -moz-transform-origin: 0px 50%;
    transform-origin: 0px 50%;
  }
  
  .Arm-lowerArm-backFace:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background: #cccccc;
    width: 17px;
    height: 20px;
    -webkit-transform: rotateX(90deg) translateZ(-90px);
    -moz-transform: rotateX(90deg) translateZ(-90px);
    transform: rotateX(90deg) translateZ(-90px);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
  }
  
  #one:target ~ .Scene .Mannequin {
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
  }
  
  #one:target ~ .Scene .Mannequin .Body {
    -webkit-transform: rotateX(10deg);
    -moz-transform: rotateX(10deg);
    transform: rotateX(10deg);
  }
  
  #one:target ~ .Scene .Mannequin .UpperBody {
    -webkit-transform: rotateX(12deg);
    -moz-transform: rotateX(12deg);
    transform: rotateX(12deg);
  }
  
  #one:target ~ .Scene .Mannequin .Head {
    -webkit-transform: rotateX(-20deg);
    -moz-transform: rotateX(-20deg);
    transform: rotateX(-20deg);
  }
  
  #one:target ~ .Scene .Mannequin .Arm.left {
    -webkit-transform: rotateX(-64deg) rotateY(20deg);
    -moz-transform: rotateX(-64deg) rotateY(20deg);
    transform: rotateX(-64deg) rotateY(20deg);
  }
  
  #one:target ~ .Scene .Mannequin .Arm.right {
    -webkit-transform: rotateX(-64deg) rotateY(-20deg);
    -moz-transform: rotateX(-64deg) rotateY(-20deg);
    transform: rotateX(-64deg) rotateY(-20deg);
  }
  
  #one:target ~ .Scene .Mannequin .Arm-lowerArm {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  
  #two:target ~ .Scene .Mannequin {
    -webkit-transform: translateY(102px);
    -moz-transform: translateY(102px);
    transform: translateY(102px);
  }
  
  #two:target ~ .Scene .Mannequin .Body {
    -webkit-transform: rotateX(20deg) rotateZ(-10deg);
    -moz-transform: rotateX(20deg) rotateZ(-10deg);
    transform: rotateX(20deg) rotateZ(-10deg);
  }
  
  #two:target ~ .Scene .Mannequin .UpperBody {
    -webkit-transform: rotateX(20deg) rotateY(17deg);
    -moz-transform: rotateX(20deg) rotateY(17deg);
    transform: rotateX(20deg) rotateY(17deg);
  }
  
  #two:target ~ .Scene .Mannequin .Arm.left {
    -webkit-transform: rotateX(110deg) rotateZ(50deg);
    -moz-transform: rotateX(110deg) rotateZ(50deg);
    transform: rotateX(110deg) rotateZ(50deg);
  }
  
  #two:target ~ .Scene .Mannequin .Arm.left .Arm-lowerArm {
    -webkit-transform: rotateZ(-50deg);
    -moz-transform: rotateZ(-50deg);
    transform: rotateZ(-50deg);
  }
  
  #two:target ~ .Scene .Mannequin .Arm.right {
    -webkit-transform: rotateX(141deg) rotateZ(-20deg);
    -moz-transform: rotateX(141deg) rotateZ(-20deg);
    transform: rotateX(141deg) rotateZ(-20deg);
  }
  
  #two:target ~ .Scene .Mannequin .Arm.right .Arm-lowerArm {
    -webkit-transform: rotateX(10deg) rotateZ(100deg);
    -moz-transform: rotateX(10deg) rotateZ(100deg);
    transform: rotateX(10deg) rotateZ(100deg);
  }
  
  #two:target ~ .Scene .Mannequin .Leg.left {
    -webkit-transform: rotateX(10deg) rotateZ(18deg);
    -moz-transform: rotateX(10deg) rotateZ(18deg);
    transform: rotateX(10deg) rotateZ(18deg);
  }
  
  #two:target ~ .Scene .Mannequin .Leg.right {
    -webkit-transform: rotateX(10deg) rotateZ(-18deg);
    -moz-transform: rotateX(10deg) rotateZ(-18deg);
    transform: rotateX(10deg) rotateZ(-18deg);
  }
  
  #two:target ~ .Scene .Mannequin .Leg-lowerLeg {
    -webkit-transform: rotateX(-111deg);
    -moz-transform: rotateX(-111deg);
    transform: rotateX(-111deg);
  }
  
  #three:target ~ .Scene .Mannequin {
    -webkit-transform: rotateX(-15deg);
    -moz-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
  }
  
  #three:target ~ .Scene .Mannequin .Body {
    -webkit-transform: rotateX(5deg);
    -moz-transform: rotateX(5deg);
    transform: rotateX(5deg);
  }
  
  #three:target ~ .Scene .Mannequin .Head {
    -webkit-transform: rotateX(-20deg) rotateZ(10deg) rotateY(10deg);
    -moz-transform: rotateX(-20deg) rotateZ(10deg) rotateY(10deg);
    transform: rotateX(-20deg) rotateZ(10deg) rotateY(10deg);
  }
  
  #three:target ~ .Scene .Mannequin .UpperBody {
    -webkit-transform: rotateX(25deg) rotateY(-30deg);
    -moz-transform: rotateX(25deg) rotateY(-30deg);
    transform: rotateX(25deg) rotateY(-30deg);
  }
  
  #three:target ~ .Scene .Mannequin .Arm.left {
    -webkit-transform: rotateX(-70deg) rotateZ(30deg) rotateY(-90deg);
    -moz-transform: rotateX(-70deg) rotateZ(30deg) rotateY(-90deg);
    transform: rotateX(-70deg) rotateZ(30deg) rotateY(-90deg);
  }
  
  #three:target ~ .Scene .Mannequin .Arm.left .Arm-lowerArm {
    -webkit-transform: rotateX(70deg);
    -moz-transform: rotateX(70deg);
    transform: rotateX(70deg);
  }
  
  #three:target ~ .Scene .Mannequin .Arm.right {
    -webkit-transform: rotateX(30deg) rotateZ(-30deg);
    -moz-transform: rotateX(30deg) rotateZ(-30deg);
    transform: rotateX(30deg) rotateZ(-30deg);
  }
  
  #three:target ~ .Scene .Mannequin .Arm.right .Arm-lowerArm {
    -webkit-transform: rotateX(60deg);
    -moz-transform: rotateX(60deg);
    transform: rotateX(60deg);
  }
  
  #three:target ~ .Scene .Mannequin .Leg.right {
    -webkit-transform: rotateX(-35deg);
    -moz-transform: rotateX(-35deg);
    transform: rotateX(-35deg);
  }
  
  #three:target ~ .Scene .Mannequin .Leg.right .Leg-lowerLeg {
    -webkit-transform: rotateX(-5deg);
    -moz-transform: rotateX(-5deg);
    transform: rotateX(-5deg);
  }
  
  #three:target ~ .Scene .Mannequin .Leg.left {
    -webkit-transform: rotateX(45deg);
    -moz-transform: rotateX(45deg);
    transform: rotateX(45deg);
  }
  
  #three:target ~ .Scene .Mannequin .Leg.left .Leg-lowerLeg {
    -webkit-transform: rotateX(-125deg);
    -moz-transform: rotateX(-125deg);
    transform: rotateX(-125deg);
  }
  
  #four:target ~ .Scene .Mannequin .Body {
    -webkit-transform: rotateX(-10deg) rotateY(10deg);
    -moz-transform: rotateX(-10deg) rotateY(10deg);
    transform: rotateX(-10deg) rotateY(10deg);
  }
  
  #four:target ~ .Scene .Mannequin .UpperBody {
    -webkit-transform: rotateX(-10deg) rotateY(10deg);
    -moz-transform: rotateX(-10deg) rotateY(10deg);
    transform: rotateX(-10deg) rotateY(10deg);
  }
  
  #four:target ~ .Scene .Mannequin .Arm.left {
    -webkit-transform: rotateX(-40deg);
    -moz-transform: rotateX(-40deg);
    transform: rotateX(-40deg);
  }
  
  #four:target ~ .Scene .Mannequin .Arm.left .Arm-lowerArm {
    -webkit-transform: rotateX(40deg);
    -moz-transform: rotateX(40deg);
    transform: rotateX(40deg);
  }
  
  #four:target ~ .Scene .Mannequin .Arm.right {
    -webkit-transform: rotateX(30deg);
    -moz-transform: rotateX(30deg);
    transform: rotateX(30deg);
  }
  
  #four:target ~ .Scene .Mannequin .Arm.right .Arm-lowerArm {
    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    transform: rotateX(20deg);
  }
  
  #four:target ~ .Scene .Mannequin .Leg.left {
    -webkit-transform: rotateX(40deg) rotateY(-20deg) rotateZ(10deg);
    -moz-transform: rotateX(40deg) rotateY(-20deg) rotateZ(10deg);
    transform: rotateX(40deg) rotateY(-20deg) rotateZ(10deg);
  }
  
  #four:target ~ .Scene .Mannequin .Leg.left .Leg-lowerLeg {
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
  }
  
  #four:target ~ .Scene .Mannequin .Leg.right {
    -webkit-transform: rotateX(-20deg) rotateY(10deg);
    -moz-transform: rotateX(-20deg) rotateY(10deg);
    transform: rotateX(-20deg) rotateY(10deg);
  }
  
  .PoseSelector {
    position: fixed;
    width: 200px;
    top: 20px;
    right: 20px;
    z-index: 100;
  }
  
  .PoseSelector a {
    display: block;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.3);
    color: #000;
    text-decoration: none;
    font-size: 12px;
  }
  
  .PoseSelector a:hover {
    opacity: 0.7;
  }
  
  .PoseSelector a ~ a {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  #nopose:target ~ .PoseSelector a[href="#nopose"],
  .PoseSelector a[href="#nopose"] {
    background: rgba(255, 255, 255, 0.1);
    border-left: 5px solid #f1c40f;
  }
  
  #one:target ~ .PoseSelector a[href="#one"] {
    background: rgba(255, 255, 255, 0.1);
    border-left: 5px solid #f1c40f;
  }
  
  #two:target ~ .PoseSelector a[href="#two"] {
    background: rgba(255, 255, 255, 0.1);
    border-left: 5px solid #f1c40f;
  }
  
  #three:target ~ .PoseSelector a[href="#three"] {
    background: rgba(255, 255, 255, 0.1);
    border-left: 5px solid #f1c40f;
  }
  
  #four:target ~ .PoseSelector a[href="#four"] {
    background: rgba(255, 255, 255, 0.1);
    border-left: 5px solid #f1c40f;
  }
  
  #one:target ~ .PoseSelector a[href="#nopose"],
  #two:target ~ .PoseSelector a[href="#nopose"],
  #three:target ~ .PoseSelector a[href="#nopose"],
  #four:target ~ .PoseSelector a[href="#nopose"] {
    background: rgba(0, 0, 0, 0.3);
    border: none;
  }
  
  .Links {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 100;
  }
  
  .Links a {
    color: #fff;
    margin-left: 10px;
    font-size: 12px;
    text-decoration: none;
  }
  
  @-webkit-keyframes CameraRotate {
    0% {
      -webkit-transform: rotateY(0deg) rotateX(10deg);
    }
    100% {
      -webkit-transform: rotateY(360deg) rotateX(10deg);
    }
  }
  
  @-moz-keyframes CameraRotate {
    0% {
      -moz-transform: rotateY(0deg) rotateX(10deg);
    }
    100% {
      -moz-transform: rotateY(360deg) rotateX(10deg);
    }
  }