<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>David's site</title>
    <link rel="stylesheet" href="/static/css/index.css">

  </head>


  <body>

    <style>
        body {
          background-image: url(/static/img/charbooty.jpeg)
        }
    </style>

<div class="shadowbox">
    <p>first let's set the mood...</p>
    <audio controls>
        <source src="ktothe.ogg" type="audio/ogg">
        <source src="/static/audio/Ktothe.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
	<h1>Hello boys and girls!</h1>
    <h6>This is the site of </h6>
    <h5>THEE </h5>
    <h4>Mr. most handsomest widduh MUHFUGGIN </h4>
    <h1>BIIIIIIIIIIIG</h1>
    <h6>kahk</h6>
    <h3>The most </h3>
<div class="warning">
        <p>DANGEROUS OF DINOS</p>
</div>
    <h1 style="color:rgb(0, 225, 38);">D Money  </h1>

    <img src="/static/img/headshot.png" alt="dahdinoh" width="200" height="200">
    <p>Click on the links below to learn more</p>
 
    <a href='/static/img/Large_larry.jpeg'>What is David's cock?<a></a>

    <p>BTW -- what I'm bumping these days</p>

    <a href='/jah'>Click here!</a>
    <p> ahhh I kid I kid </p>

<a href="https://www.youtube.com/watch?v=rQ6N-sb7SVQ&ab_channel=Nakama">rly its this one</a>

<p> xD or >:(     = you rn </p>
 
    <a href="https://www.youtube.com/watch?v=e0HYp8d-RmE&ab_channel=NicolasRoy">here u go, u earned it</a>

    <br>

<p>Let's get some basic shit outta da way:</p>
<iframe src="/static/img/D.Kim2021Resume.pdf" width="100%" height="500px">
</iframe>
<p>Ohhh you want the PDF? No prolem no prolem.</p>
    <p><a href="/static/img/D.Kim2021Resume.pdf">Here's da resumay</a>.</p>

    <div class="macbook">
        <div class="inner">
          <div class="screen">
            <div class="face-one">
              <div class="camera"></div>
              <div class="display">
                <div class="shade"></div>
              </div>
              <span>MacBook Air</span>
            </div>
            <img src="http://www.clker.com/cliparts/i/s/H/f/4/T/apple-logo-white.svg" class="logo" />
          </div>
          <div class="body">
            <div class="face-one">
              <div class="touchpad">
              </div>
              <div class="keyboard">
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key space"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
                <div class="key f"></div>
              </div>
            </div>
            <div class="pad one"></div>
            <div class="pad two"></div>
            <div class="pad three"></div>
            <div class="pad four"></div>
          </div>
        </div>
        <div class="shadow"></div>
      </div>
      <div class='links'>
      <a href="https://twitter.com/neoberg" target="_blank">@neoberg</a>
      <a href="mailto:neoberg@gmail.com">contact me</a>
      </div>
      
      
      <div id="nopose"></div>
  <div id="one"></div>
  <div id="two"></div>
  <div id="three"></div>
  <div id="four"></div>
  <div class="PoseSelector">
    <a href='#nopose'>No Pose</a>
    <a href='#one'>Pose 1</a>
    <a href='#two'>Pose 2</a>
    <a href='#three'>Pose 3</a>
    <a href='#four'>Pose 4</a>
  </div>
  <main class="Scene">
    <div class="Camera">
      <figure class="Mannequin">
        <section class="Body">
          <div class="UpperBody">
            <div class="UpperBody-frontFace Face"></div>
            <div class="UpperBody-backFace Face"></div>
            <header class="Head">
              <div class="Head-frontFace Face"></div>
              <div class="Head-backFace Face"></div>
            </header>
            <aside class="Arm left">
              <div class="Arm-upperArm">
                <div class="Arm-upperArm-frontFace Face"></div>
                <div class="Arm-upperArm-backFace Face"></div>
              </div>
              <div class="Arm-lowerArm">
                <div class="Arm-lowerArm-frontFace Face"></div>
                <div class="Arm-lowerArm-backFace Face"></div>
              </div>
            </aside>
            <aside class="Arm right">
              <div class="Arm-upperArm">
                <div class="Arm-upperArm-frontFace Face"></div>
                <div class="Arm-upperArm-backFace Face"></div>
              </div>
              <div class="Arm-lowerArm">
                <div class="Arm-lowerArm-frontFace Face"></div>
                <div class="Arm-lowerArm-backFace Face"></div>
              </div>
            </aside>
          </div>
          <div class="LowerBody">
            <div class="LowerBody-frontFace Face"></div>
            <div class="LowerBody-backFace Face"></div>
          </div>
        </section>
        <footer class="Legs">
          <div class="Leg left">
            <div class="Leg-upperLeg">
              <div class="Leg-upperLeg-frontFace Face"></div>
              <div class="Leg-upperLeg-backFace Face"></div>
            </div>
            <div class="Leg-lowerLeg">
              <div class="Leg-lowerLeg-frontFace Face"></div>
              <div class="Leg-lowerLeg-backFace Face"></div>
            </div>
          </div>
          <div class="Leg right">
            <div class="Leg-upperLeg">
              <div class="Leg-upperLeg-frontFace Face"></div>
              <div class="Leg-upperLeg-backFace Face"></div>
            </div>
            <div class="Leg-lowerLeg">
              <div class="Leg-lowerLeg-frontFace Face"></div>
              <div class="Leg-lowerLeg-backFace Face"></div>
            </div>
          </div>
        </footer>
      </figure>

    </div>
  </main>


<p>Some more personal notable achievements</p>
    <ul>
        <li>Never have blacked out</li>
        <li>No STDs</li>
        <li>Did well enough at BC to maybe go to med school, maybe</li>
        <li>Retained nipple perkiness</li>
        <li>Been that guy pal</li>
    </ul>

<p>Quick shoutout to the best place in the world-- northern NJ that got all the biddies no boolshi </p>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-75.35934448242189%2C40.50544628405214%2C-73.81164550781251%2C41.17245194931263&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=10/40.8398/-74.5855">View Larger Map</a></small>

<p>Before you go, a quick freestyle:</p>
<figure>
    <blockquote>
        <p>The booty calls. 
            <br>Hunger strikes. 
            <br>Both feet under the blanket at night. 
            <br>Keeps them opps,
            <br>Out of sight. 
            <br>Smoke up, jack off, and you just might... 
            <br>Knock for the night.
        </p>
    </blockquote>
    <figcaption>A poem by D Money, written at 11:45pm on 6/23/2022</figcaption>
</figure>
  </body>


</html>